.curr {
    background-color: lightgreen;
    color: white;
}

.custom-dropdown {
    position: relative;
    display: inline-block;
    border-color: lightgreen;
    border-radius: 6px;
    color: white;
    }

    .selected-option {
    background-color: lightgreen;
    color: white;
    cursor: default;
    }

    .options-list {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: lightgreen;
    color: black;
    border: 1px solid #ddd;
    border-radius: 6px;
    list-style: none;
    margin-top: 20px;
    padding: 0;
    display: none;
    z-index: 1;
    }

    .options-list li {
    padding: 10px;
    cursor: default;
    }

    .options-list li:hover {
    background-color: white;
    }

    .custom-dropdown:hover .options-list {
    display: block;
    }
